@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.detailed_body{
      padding:10% 1.5rem 1rem 1.5rem;
      background-image: linear-gradient(to bottom,rgba(2, 14, 65, 0.685),rgba(5, 30, 143, 0.664)),url("../../Images/pasta_3.jpg");
      margin:0;
      box-sizing:border-box;
}


.title ,.heading1{
    font-family: 'Cedarville Cursive', cursive;
    font-size:2.5rem;
    font-weight:600;
    text-align:center;
    color:white;
    transition:all 1s;
    text-decoration: underline;
    letter-spacing: 3px;
    

}



.pic_container{
    width:23rem;
    height:23rem;
    margin:2.2rem auto .8rem auto;
}

.pic{
    width:100%;
    height:100%;
    border-radius: 50%;
}

.desc
{
    font-family: 'IBM Plex Mono', monospace;
    font-size:2rem;
    font-weight:600;
    text-align:center;
    color:white;
    margin-top:4rem;
    transition:all 1s;
}



.heading{
    font-family: 'IBM Plex Mono', monospace;
    color:white;
    font-size: 2.2rem;
    margin:1.2rem 0px 1.2rem 0px;

}

.ingre_cont
{
    border:3px solid white;
    margin:2.3rem auto;
    width:40%;
    padding:1.5rem;

}

.ing_container{
    padding:1.5rem;
}
.ing{
    color:rgb(2, 14, 65);
    font-weight:600;
    padding:.8rem;
    background-color:white;
    margin:1.5rem auto;
    width:90%;
    transform:skew(-20deg);
    transition:all .2s;
    letter-spacing: 3px;
    
}


.ing:hover{
    transform:skew(0deg);
    color:white;
    background-color:rgb(2, 14, 65);

}


.images{
    width:95%;
    height:500px;
    margin :50px auto;
    display:flex;
    flex-direction: row;

}

.img{
    width:48%;
    height:80%;
    transition:all .6s;
}

.img:hover{
    opacity:.7;
    background-color:rgb(109, 109, 238);
}

.img:first-child{
    margin-right:20px;
}

.review_body{
    width:98%;
    margin:2rem auto;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:.8rem;
    padding:1.5rem;
    background-color: rgba(255, 255, 255, 0.541);
    transform: skew(-10deg);

}

.review_box{
    background-color:rgb(2, 14, 65);
    color:white;
    padding:1.5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    font-weight: 600;
    font-family: 'IBM Plex Mono', monospace;

}

.cart_btn_container{
    background-color: white;
    width:30%;
    margin:2rem auto;
    text-align: center;
    border:10px solid rgb(2, 14, 65) ;
    
}

.cart_btn{
    text-decoration:none;
    color:rgb(2, 14, 65) ;
    /* padding:1rem ; */
    font-size:3.5rem;
    margin:auto;
    text-align: center;
    width:100%;

}

@media screen and (max-width:1200px){
    .ingre_cont{
        width:60%;
    }

    .ing{
        width:95%;
    }
}


@media screen and (max-width:800px){
    .ingre_cont{
        width:80%;
    }

    .ing{
        width:95%;
    }
}

@media screen and (max-width:500px){
    .ingre_cont{
        width:80%;
    }

    .ing{
        width:95%;
    }

    .heading1,.title,.heading{
    font-size: 2rem;
    margin:1.5rem 0px 1.5rem 0px;

    }

    .ing_container{
        padding:.8rem;
    }

}


@media screen and (max-width:1000px){

    .review_body{
        grid-template-columns: auto auto;
    }


}

@media screen and (max-width:700px){

    .review_body{
        grid-template-columns: auto ;
        width:80%;
        transform: skew(0deg);

    }


}


@media screen and (max-width:450px){

    .pic_container{
        width:18rem;
        height:18rem
    }


}

@media screen and (max-width:1020px){

    .cart_btn_container{
        width:50%;
       
        
    }

}


@media screen and (max-width:600px){

    .cart_btn_container{
        width:90%;
      
    }

}

